name: Definitions
on:
  schedule: [{ cron: "0 */6 * * *" }] # 6hrly https://crontab.guru/#0_*/6_*_*_*
  workflow_dispatch:

permissions: {}
jobs:
  scrape:
    runs-on: ubuntu-latest
    permissions: { contents: write }
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with: { egress-policy: audit }
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: true # need creds for subsequent git ops
      - run: npm ci

      - run: git checkout -b "scrape/definitions"
      - run: npm run scrape-definitions
      - run: npm run commit-definitions
        env:
          GIT_AUTHOR_NAME: ${{ vars.NODENV_BOT_NAME }}
          GIT_AUTHOR_EMAIL: ${{ vars.NODENV_BOT_EMAIL }}
          GIT_COMMITTER_NAME: ${{ vars.GHA_BOT_NAME }}
          GIT_COMMITTER_EMAIL: ${{ vars.GHA_BOT_EMAIL }}

      - name: gh pr create
        run: |
          git push -fu origin HEAD
          gh pr create --fill -t "Scraped definitions"
          gh pr merge --auto --merge
        env:
          GH_TOKEN: ${{ secrets.BOT_TOKEN }}
