name: Definitions
on:
  schedule: [{ cron: "0 */6 * * *" }] # 6hrly https://crontab.guru/#0_*/6_*_*_*
  workflow_dispatch:

permissions: {}
jobs:
  scrape:
    runs-on: ubuntu-latest
    permissions: { contents: write }
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with: { egress-policy: audit }
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: true # need creds for subsequent git ops
      - run: npm ci

      - run: git checkout -b "scrape/definitions"
      - run: npm run scrape-definitions
      - run: npm run commit-definitions
        env:
          GIT_AUTHOR_NAME: ${{ vars.NODENV_BOT_NAME }}
          GIT_AUTHOR_EMAIL: ${{ vars.NODENV_BOT_EMAIL }}
          GIT_COMMITTER_NAME: ${{ vars.GHA_BOT_NAME }}
          GIT_COMMITTER_EMAIL: ${{ vars.GHA_BOT_EMAIL }}

      - name: gh pr create
        run: |
          git push -fu origin HEAD
          gh pr create --fill -t "Scraped definitions"
          gh pr merge --auto --merge
        env:
          GH_TOKEN: ${{ secrets.BOT_TOKEN }}
