name: Release
on:
  push: { tags: "v[0-9]+.[0-9]+.[0-9]+*" }

permissions: {}
jobs:
  release:
    permissions: { id-token: write }
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with: { egress-policy: audit }
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          scope: nodenv
          registry-url: https://registry.npmjs.org
          node-version: 24
      - run: npm ci
      - run: npm publish
