name: Test
on:
  push:
  pull_request:
  schedule: [{ cron: "0 0 10 * *" }] # monthly https://crontab.guru/#0_0_10_*_*
  workflow_dispatch:

permissions: {}
jobs:
  test:
    uses: nodenv/.github/.github/workflows/test.yml@v6
    with: { npm: false }
    permissions:
      contents: read
      packages: read
      id-token: write
      security-events: write
      statuses: write

  checksums:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with: { egress-policy: audit }
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # need history for lint:checksums
          persist-credentials: false
      - run: npm ci

        # FIXME workaround https://github.com/actions/checkout/issues/910
      - if: github.event_name == 'pull_request'
        run: npm run lint:checksums -- origin/${{github.base_ref}}
      - run: npm run lint:checksums -- HEAD^
        if: github.event_name == 'push'
