name: Version Bump
on:
  push: { branches: main, paths: "share/node-build/**" }
  schedule: [{ cron: "0 10 * * SAT" }] # weekly: https://crontab.guru/#0_10_*_*_SAT
  workflow_dispatch:
    inputs:
      version: # checkov:skip=CKV_GHA_7
        description: "An explicit version (or major|minor|patch) to tag."
        default: ""
        required: false
        type: string

permissions: { contents: read }
jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with: { egress-policy: audit }
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          token: ${{ secrets.BOT_TOKEN }}
          persist-credentials: true # need creds for subsequent git ops

      - if: ${{ !inputs.version }}
        run: |-
          npm run preversion --silent -- -o -v -- share/node-build || status=$?
          case "${status:-0}" in
            0) echo "bump=patch" >> "$GITHUB_ENV";;
            1) exit 0;; # exit successfully to mask error, but don't release
            *) exit "$status" ;; # all other error codes are true failures
          esac

      - if: ${{ inputs.version || env.bump }}
        run: npm version "$NEWVERSION"
        env:
          GIT_AUTHOR_NAME: ${{ vars.NODENV_BOT_NAME }}
          GIT_AUTHOR_EMAIL: ${{ vars.NODENV_BOT_EMAIL }}
          GIT_COMMITTER_NAME: ${{ vars.GHA_BOT_NAME }}
          GIT_COMMITTER_EMAIL: ${{ vars.GHA_BOT_EMAIL }}
          NEWVERSION: ${{ inputs.version || env.bump }}
